<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://karma.kz/">Karma.kz Tutorial</a>
  is a project to karma
  with <a href="http://karma.kz/">karma.kz</a>. This
  is the karma.kz.
</p>