<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>

<h2>Our purpose: To connect people with great local businesses</h2>

<h5>
  The <a href="http://karma.kz/">karma.kz</a> is the best way to find great local businesses in Kazakhstan
  </h5>

<ul>

  <li>Астана</li>
  <li>Алматы</li>
  <li>Экибастуз</li>
  <li>Петропавловск</li>
  <li>Кокшетау</li>
  <li>Павлодар</li>
  <li>Актобе</li>
  <li>Талдыкорган</li>
  <li>Атырау</li>
  <li>Усть-Каменогорск</li>
  <li>Тараз</li>
  <li>Уральск</li>
  <li>Шымкент</li>
  <li>Караганда</li>
  <li>Костанай</li>
  <li>Кызылорда</li>
  <li>Актау</li>

</ul>
<br>

<h5>Things You Should Know About Karma:</h5>

<ul>
  <li>Karma was founded in 2015 to help people find great local businesses like dentists, hair stylists and mechanics.</li>
  <li>In addition to reviews, you can use Karma to find events, lists and to talk with other users.</li>
  <li>Every business owner (or manager) can setup a free account to post photos and message their customers.</li>
  <li>Karma uses automated software to recommend the most helpful and reliable reviews for the Karma community among the millions we get. The software looks at dozens of different signals, including various measures of quality, reliability, and activity on Karma.</li>
  <li>You can access Karma via iPhone, Android, and more.</li>
    </ul>
</p>