<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the KARMA at the
  <a href="http://karma.kz">help page</a>.
  To get help on KARMA, see the
  <a href="http://karma.kz">KARMA book</a>.
</p>