<footer class="footer">
  <small>
    <a href="http://karma.kz/">@karma.kz</a>
    by Mikhail Kryukov
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://karma.kz/">News</a></li>
    </ul>
  </nav>
</footer>